@import 'https://fonts.googleapis.com/css?family=Rubik';
@import url(https://fonts.googleapis.com/css?family=Rubik+One);
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:500|Antic';
@import 'https://fonts.googleapis.com/css?family=Lato:100,700';
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import 'https://fonts.googleapis.com/css?family=Arizonia';


p{
	font-family: 'Antic', sans-serif;
}



h5{
	font-family: 'Alegreya Sans', sans-serif;
}


h2{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 45px;
}

a{
	font-family: 'Roboto Condensed', sans-serif;
}


#reg{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

#dev{
	font-family: 'Lato', sans-serif;
	font-weight: 60;
	color: white;

}

#lin{
	font-family: 'Lato', sans-serif;
	font-weight: 60;
	text-transform: capitalize;
	color: white;

}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
